/* SlideShow.css */
.slide-container {
    display: flex;
    overflow: hidden;
  }
  
  .slide {
    min-width: 100%;
    transition: transform 0.5s;
  }
  
  .slide img {
    width: 1500px;
    height: 500px;
  }
  
  .active {
    transform: translateX(0);
  }
  