.about-centered-image-container {

    height: 100vh;
    background-image: url('../assets/mainImage5.jpeg');
    background-position: cover;
    color: white;
  }

  .United-text {
    font-size: 24px;
    margin-left: 20px;
  }

  .KUFA-text {
    font-size: 72px;
    margin-left: 20px;
  }

  .left-image {
    float: left; /* 이미지를 왼쪽으로 정렬 */
    margin-right: 10px; /* 이미지와 텍스트 사이 간격 조절 (원하는 값으로 설정) */
    margin-top: 40px;
    /* 다른 스타일 설정 */
  }

  .image-text-container{
    margin-top: 20%;
  }